<ion-view>
  <ion-content>
    <div ng-controller="refresher">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
    </div>



    <p class="center">pull to refresh</p>
    <h1 class="center">Restaurants</h1>

    <div ng-if="singleRestaurant">

      <div class="list card">

        <div class="item item-avatar row">
          <div class="col">
            <a href={{restaurantData.mobile_url}}><img src={{restaurantData.image_url}}></a>
          </div>
          <div class="col col-75">
            <a href={{restaurantData.mobile_url}}><h1>{{restaurantData.name}}</h1></a>
            <p><img src={{restaurantData.rating_img_url}}></p>
            <p>Total Reviews: {{restaurantData.review_count}}</p>
            <p>{{restaurantData.categories[0][0]}}</p>
            <p>Phone# {{restaurantData.phone}}</p>
          </div>
        </div>

        <div class="item item-avatar row">
          <div class="col col-center">
            <h2>Address</h2>
          </div>
          <div class="col col-75">
            <p>{{restaurantData.location.address[0]}}</p>
            <p>{{restaurantData.location.address[1]}}</p>
            <p>{{restaurantData.location.city}}, {{restaurantData.location.state_code}}, {{restaurantData.location.postal_code}}</p>
          </div>
        </div>

        <div class="item item-body">
          <div class="row">
            <div id="larger_avatar" class="item item-avatar col col-center">
              <img src={{restaurantData.reviews[0].user.image_url}}>
            </div>
            <div class="col col-75">
              <h3>{{restaurantData.reviews[0].user.name}}</h3>
              <img src={{restaurantData.reviews[0].rating_image_small_url}}>
              <p>"{{restaurantData.snippet_text}}"</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div ng-if="!singleRestaurant">
      <form ng-submit="locationSearch(location, term)">
        <div class="list list-inset">
          <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Food, Restaurants, Tacos, etc..." ng-model="term">
          </label>
          <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Location" ng-model="location">
          </label>
        </div>
                <button class="button button-block button-positive">Search Your Area</button>
      </form>



      <ion-item collection-repeat="item in data">
        <a class="item item-thumbnail-left" ng-click="findRestaurant(item.id)">
          <img src={{item.image_url}}>
          <h3>{{item.name}}</h3>
          <p>{{item.categories[0][0]}}</p>
          <p><img src={{item.rating_img_url_small}}></p>
        </a>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
