
/* Empty. Add your own CSS if you like */

/* GENERAL CSS */
@import url(https://fonts.googleapis.com/css?family=Arizonia);
@import url(https://fonts.googleapis.com/css?family=Questrial);


/* END OF GENERAL CSS */


/* NAVBAR */

.transparent {
  background: transparent !important;
  z-index: 2;
}

#menu {
  color: grey;
}

/* END OF NAVBAR */


/* HOME PAGE */
.scroll-bg {
  background: url(https://drscdn.500px.org/photo/93295409/q%3D80_m%3D1000/62620383708aaa1138457459aa57a3f6) center center fixed no-repeat ;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.15);
}

#homepage {
  color: white;
  text-align: center;

}

#homepage h1 {
  position: relative;
  color: white;
  font-family: 'Arizonia', cursive;
  font-size: 90px;
  /*font-weight: bold;*/
  /*letter-spacing: 4px;*/
  top: 160px;
}

#homepage p {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  position: relative;
  top: 170px;
  letter-spacing: 4px;
}

#homepage a {
  color: white;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  position: relative;
  top: 220px;
  letter-spacing: 2px;
  border: white solid 2px;
  padding: 10px 20px;
  margin:0 5px;
}

/* END OF HOME PAGE */

